@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0; }
  * body, * html {
    height: 100vh;
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    background-color: #E4F1FE; }
    * body #bodyType, * html #bodyType {
      width: 100%;
      text-align: center; }
      * body #bodyType h1, * html #bodyType h1 {
        color: #22313F;
        margin-top: 30px; }
      * body #bodyType .bodyTypeWrap, * html #bodyType .bodyTypeWrap {
        display: flex;
        flex-direction: row; }
        * body #bodyType .bodyTypeWrap .bodyType, * html #bodyType .bodyTypeWrap .bodyType {
          flex: 1;
          margin: 30px 40px; }
      * body #bodyType .bodyTypeImgWrap, * html #bodyType .bodyTypeImgWrap {
        display: flex;
        flex-direction: row;
        margin-top: 20px; }
        * body #bodyType .bodyTypeImgWrap .bodyTypeImg, * html #bodyType .bodyTypeImgWrap .bodyTypeImg {
          flex: 1; }
          * body #bodyType .bodyTypeImgWrap .bodyTypeImg ul, * html #bodyType .bodyTypeImgWrap .bodyTypeImg ul {
            list-style-type: none;
            font-weight: 900;
            letter-spacing: 7px; }
            * body #bodyType .bodyTypeImgWrap .bodyTypeImg ul li, * html #bodyType .bodyTypeImgWrap .bodyTypeImg ul li {
              font-weight: 300;
              letter-spacing: 0px; }
      * body #bodyType button, * html #bodyType button {
        height: 60px;
        padding: 0 20px;
        border: none;
        border-radius: 5px;
        background-color: #22A7F0;
        color: #fff;
        font-size: 20px;
        margin-bottom: 50px; }
        * body #bodyType button:focus, * html #bodyType button:focus {
          outline: 0; }
    * body #bodyTypeQuiz, * html #bodyTypeQuiz {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center; }
      * body #bodyTypeQuiz .question, * html #bodyTypeQuiz .question {
        height: 60px;
        width: 800px;
        margin: 50px auto 0;
        background-color: #2C3E50;
        color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 20px; }
      * body #bodyTypeQuiz .answerWrap, * html #bodyTypeQuiz .answerWrap {
        width: 800px;
        height: 200px;
        background-color: #336E7B;
        margin: 0 auto; }
        * body #bodyTypeQuiz .answerWrap .answer, * html #bodyTypeQuiz .answerWrap .answer {
          height: calc(200px/3);
          font-size: 20px;
          line-height: calc(200px/3);
          color: #fff; }
          * body #bodyTypeQuiz .answerWrap .answer input, * html #bodyTypeQuiz .answerWrap .answer input {
            height: 20px;
            width: 20px; }
      * body #bodyTypeQuiz input, * html #bodyTypeQuiz input {
        width: 800px;
        height: 50px;
        font-size: 20px;
        border: none;
        background-color: #2C3E50;
        color: #fff; }
        * body #bodyTypeQuiz input:focus, * html #bodyTypeQuiz input:focus {
          outline: 0; }
    * body #result, * html #result {
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      top: 0;
      color: #fff; }
      * body #result #answer, * html #result #answer {
        text-align: center;
        font-size: 20px;
        line-height: 100vh; }
      * body #result button, * html #result button {
        color: #fff;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        height: 30px;
        width: 30px;
        background-color: #EC644B;
        border: none; }

/*# sourceMappingURL=style.css.map */
